@media screen and (max-width: 768px)
{
    .titre_bloc h1
    {
    color: black;
    text-decoration: none;
    }
    #déve
    {
    text-decoration: underline  black;
    color: black;
    }
    .formation
    {
        margin-bottom: -60px;
    }
    .experience
    {
        margin-bottom: -60px;
    }
    h2
    {
        text-align: center;
    }
    .recommandations p
    {
        text-align: center;
    }
    .a_propos_contenus
    {
        margin-bottom: 50px;
    }
    .loisirs_contenus
    {
        padding-bottom: 30px;
    }
}
@media screen and (min-width: 768px)
{
    .titre_bloc
    {
    position: absolute;
    width: 500px;
    left: 200px;
    text-transform: uppercase;       
    }
    .formation
    {
        padding-top: 80px;
    }
    #déve
    {
    text-decoration: underline  #8BC34A;
    color: black;
    }
    .titre_bloc span
    {
    color:#8BC34A;    
    }
    .a_propos_contenus
    {
    margin-bottom: 200px;
    }
}