/* Général ---------------------------------------------------------------------------------------*/
.container
{
    width: auto;
}
body
{
    font-family: 'Didact Gothic', sans-serif;
    width: auto;
    margin: auto;
}
body h1
{
    font-family: 'Roboto Slab';
    font-size: 1.9em;
}
/* Section bandeau  ---------------------------------------------------------------------------- */
[class*="col-"]
{
   _border: black 1px solid;
}   
.bandeau
{
    background-color: #8BC34A;
    height:auto;
}
.bandeau h2
{
    color: #8BC34A;
    background-color: black;
    text-align: center;
}
.photo
{
    text-align: center;
}
.contact
{
    margin-left: 20px;
}
.a_propos_contenus
{
    text-align: justify;
    margin-bottom: px;
    padding-top: px;
    margin-left: 20px;
    margin-right: 20px;

}
.loisirs_contenus
{
    display: flex;
}
/* Section droite de la page --------------------------------------------------------------------- */
li
{
    list-style: none;
}
.titre
{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.titre h1
{
    text-transform: uppercase;
}
.titre span
{
    color:#8BC34A;    
}
.titre p
{
    font-size: 1.3em;
}
#déve
{
    text-decoration: underline  #8BC34A;
    color: black;
    
}
.formation h1
{
    margin-bottom: 25px;
    background: url(Img/Liseret.png) repeat-x bottom;
    padding-bottom: 10px;
}
.formation
{
    
    margin-top: 45px;
    padding-bottom: 20px;
}
.formation i
{
    color: #8BC34A;
}
.experience h1
{
    margin-bottom: 20px;
    background: url(Img/Liseret.png) repeat-x bottom;
    padding-bottom: 10px;
}
.experience
{

    margin-top: 45px;
    padding-bottom: 20px;
}
.experience i
{
    color: #8BC34A;
}
.recommandations h1
{
    margin-bottom: 20px;
    background: url(Img/Liseret.png) repeat-x bottom;
    padding-bottom: 10px;
}
.recommandations i
{
    color: #8BC34A;
}
.recommandations
{
    margin-top: 50px;
}
.row
{
    padding-top: 30px;
}

